html, body{
  height: 100%;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-container{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.header{
  background-color: #6197d4;
  width: 100%;
  min-height: 10%;
  text-align: center;
  align-items: center;
  flex: 1;
}
.page{
  display: flex;
  flex: 8;
  width: 100%;
  background-color: #4287f5;
  flex-wrap: wrap;
  align-items: stretch;
}
.footer{
  flex: 1;
  background-color: #6197d4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column{
  height: 100%;
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.row{
  height: 50%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.box{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  border: 10px solid #000000;
  background-color: #474747;
  width: 65%;
  height: 80%;
}
.box-item{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
