*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-container{
  display: flex;
  justify-content: center;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
}
.page{
  border: 1px solid #ff0004;
  width: 900px;
  display: flex;
  justify-content: space-around;
}
